body {
    background-color: #1b1d36;
}

.text {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 8em;
    color: #fca6d1;
}

h2 {
    color: #99d6ea;
}

.grid {
    display: grid;
    overflow-x: auto;
    white-space: nowrap;
    grid-gap:50px 50px; /* 50 pixels of space added between rows and 50 pixels added between columns  */

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* Hide scrollbar for Chrome, Safari and Opera */
.grid::-webkit-scrollbar {
    display: none;
}

.active {
    border: thick white solid;
    padding: 10px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail {
    width: 8%;
    height: 8%;
    object-fit: cover;
}

#quiz {
    color: #99d6ea;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.quiz-text {
    align-items: center;
    display: flex;
    margin-right: 1em;
}